.navbar {
    height: 4.5rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.292);
    font-family: luxiachy;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: fixed;
      transition: transform 0.3s ease, opacity 0.3s ease;
}

.logo img {
    height: 3rem;
    /* width: 5rem; */
}
.user{
    width: 13%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user h3{
    cursor: pointer;
}
.user div {
    cursor: pointer;
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    background-color: red;
    border-radius: 50%;
}

.navlinks {
    width: 45%;
    color: white;
    display: flex;
    padding: 0.5rem 1.2rem;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border-radius: 2rem;
    justify-content: space-between;
}

.navlinks h3 {
    cursor: pointer;
    padding: 0.2rem 0.7rem;
    border: 2px solid transparent;
    /* border:transparent; */
    letter-spacing: 0.1rem;
    
    
}

.navlinks h3:hover {
    border: 2px solid ;
    border-radius: 20rem;
}
.navbar.hide {
  transform: translate(0, -150%);
  opacity: 0;
}

